body {

	background: url(azul.jpg); 


}

.andrea{


color: #FFFFFF;
font-size:50px;
font-family:papyrus;
text-shadow: 0 0 0.2em #F87, 0 0 0.2em black;


}


#paula{
width: 60px;
  height: 30px;

 

}


#paula:hover {

   border-color: black;
   width: 80px;
   height: 40px;

}
