
@import "font/font.css.css"; 

body{ 
    
    color: #333; 
   font-family: 'lillyregular';
}

.login{
    
        width: 300px; 
        margin: 0 auto;
        text-align: center; 
    
}

.login fieldset{
    
    margin : 0 ; 
    padding: .35em 0 0.75em;
    border: 1px solid silver;
    
}

.login input {
    
        font-family: 'lillyregular';
    
}

.login input[type = text],
.login input[type = password]{
    
    text-align: center;
    padding: .5em .6em ;
    border: 1px solid #ccc; 
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px; 
    
}

.login input[type = submit],
.login input[type = reset]{
    
        background-color: #0078e7; 
        color : #fff; 
        padding : .5em 1em ; 
        border: 0; 
        border-radius: 4px; 
        cursor: pointer ;
}

.login input[type = submit]:focus,
.login input[type = reset]:focus,
.login input[type = submit]:hover,
.login input[type = reset]:hover{
    
   background-image : linear-gradient(transparent, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.1));
}

a{
    color:  #0078e7;
    text-decoration: none; 
    
    
}

.pass{

    margin-left: 60px;
    margin-top: 25px;
}

#res{

    margin-top: 25px; 

}